body {
  display: flex;
  justify-content: center;
  align-items: center;
}
.formulario {
  display: flex;
  width: 15em;
  height: 15em;
  margin: 0;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 1px solid rgb(84, 215, 148);
}
form {
  display: flex;
  flex-direction: column;
  margin: 0;
}

form input {
  margin-top: 2em;
}
